img {width: 200px;
    height: 200px;
}
body { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet;
}

footer {color: pink;}

h1 {font-size: large;
    color:aquamarine
}
